<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis ligula nec nibh mattis tincidunt. Morbi elementum feugiat rhoncus. Maecenas ante ante, eleifend vel justo at, pharetra varius sapien. Vivamus facilisis lorem arcu, a tincidunt diam imperdiet sit amet. Suspendisse at semper neque, sit amet posuere ligula. Nam dictum mi vel commodo scelerisque. Vestibulum in vehicula elit, sit amet pharetra nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum viverra nibh nisl, ut tincidunt purus luctus id. Mauris ut felis ipsum.</p>
        </section>
        <address>
            <h2 >
                <a class="footer__title" routerLink="/contato">Contato</a></h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email&#64;email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0 000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>